<h4 class="heading">Photos</h4>
<cdk-virtual-scroll-viewport class="list list-group" [itemSize]="110">
  <div
    class="list__item list-group-item"
    *cdkVirtualFor="let item of listItems"
  >
    <div class="list__item__primary">
      <div class="list__item__primary__info">
        {{ item.id }}
      </div>
      <div class="list__item__primary__info">
        {{ item.title }}
      </div>
    </div>
    <div class="list__item__secondary">
      <div class="list__item__secondary__info">
        <img src="{{ item.thumbnailUrl }}" />
      </div>
      <div class="list__item__secondary__info">
        <img src="{{ item.url }}" />
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<!-- without Virtual Scroll -->
<!--
<h4 class="heading">Photos</h4>
<div class="list list-group">
  <div class="list__item list-group-item" *ngFor="let item of listItems">
    <div class="list__item__primary">
      <div class="list__item__primary__info">
        {{ item.id }}
      </div>
      <div class="list__item__primary__info">
        {{ item.title }}
      </div>
    </div>
    <div class="list__item__secondary">
      <div class="list__item__secondary__info">
        <img src="{{ item.thumbnailUrl }}" />
      </div>
      <div class="list__item__secondary__info">
        <img src="{{ item.url }}" />
      </div>
    </div>
  </div>
</div> -->
